<h2>Accounts</h2>

<% if @accounts %>
  <div class="list-group">
    <% @accounts.each do |key, account| %>
      <a href="/transactions" type="button" class="list-group-item">
        ID: <%= account.id %>
        Type: <%= account.type %>
        Holder Name: <%= account.main_holder.name %>
        Holder ID: <%= account.main_holder.id %>
      </a> 
    <% end %>
  </div>
<% end %>

<a class='btn btn-default' href="/create_account">Create New Account</a>
<a class='btn btn-default' href='/deposit'>Deposit</a>
<a class='btn btn-default' href='/withdraw'>Withdraw</a>
<a class='btn btn-default' href='/transfer'>Transfer</a>
<a class='btn btn-default' href='/add_holder'>Add Holder</a>
<a class='btn btn-default' href='/enable_overdraft'>Enable/Edit Overdraft</a>
<a class='btn btn-default' href='/disable_overdraft'>Disable Overdraft</a>
