<form class="navbar-form navbar-left" role="search" action='/add_holder' method='post'>
  <div class="form-group">
    <input type="text" name='holder_id' class="form-control" placeholder="Holder ID">
    <input type='text' name='account_id' class='form-control' placeholder='Account ID'>
  </div>
  <button type="submit" class="btn btn-default">Add Holder</button>
</form>
