<form class="navbar-form navbar-left" role="search" action='/create_account' method='post'>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Holder ID" name='id'>
    <select class='form-control' name='type'>
      <option value="Current">Current</option>
      <option value="Savings">Savings</option>
      <option value="Business">Business</option>
      <option value="IR">IR</option>
      <option value="SMB">SMB</option>
      <option value="Student">Student</option>
      <option value="HighInterest">HighInterest</option>
      <option value="Islamic">Islamic</option>
      <option value="Private">Private</option>
      <option value="LCR">LCR</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Create</button>
</form>
