<div class='row'>

  <div class="col-md-2">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <a class='btn btn-default' href='/new_holder'>Create New Holder</a>
    </div>
  </div>

  <div class='col-md-8'>
    <% if @holders %>
      <div class="list-group">
        <% @holders.each do |key, holder| %>
          <a href="/holders_accounts?id=<%= holder.id %>" type="button" class="list-group-item">
            Name: <%= holder.name %>
            ID: <%= holder.id %>
          </a> 
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>
