<%= @holders %>

<% if @message %>
  <%= @message.output %>
<% end %>

<a class='btn btn-default' href='/new_holder'>Create New Holder</a>

<br><br>
<a class='btn btn-default' href='/create_account'>Create Account</a>
<a class='btn btn-default' href='/'>Deposit</a>
<a class='btn btn-default' href='/balance'>Balance</a>
<a class='btn btn-default' href='/withdraw'>Withdraw</a>
<a class='btn btn-default' href='/transfer'>Transfer</a>
<a class='btn btn-default' href='/add_holder'>Add Holder</a>
<a class='btn btn-default' href='/show_accounts'>Show Holder Accounts</a>
<a class='btn btn-default' href='/transactions'>View Account Transactions</a>
<br><br>
<a class='btn btn-default' href='/new_holder'>New Loan</a>
<a class='btn btn-default' href='/new_holder'>View Loan</a>
<a class='btn btn-default' href='/new_holder'>Make Loan Payment</a>
<br><br>
<a class='btn btn-default' href='/new_holder'>Enable/Edit Overdraft</a>
<a class='btn btn-default' href='/new_holder'>Disable Overdraft</a>
<a class='btn btn-default' href='/new_holder'>View Overdraft Status</a>
