<p>This Application was created for a coursework task while studying at the Greenwich School of Management.</p>

<p>This site was created and deployed to Heroku to give a more clear represenation of the functionality of the program.</p>

<p>You can add Holders, Accounts and Loans, as well as performing all other functions. When an Account is created, or a withdrawal is made, you can observe that a new task is scheduled to either pay the interest, or rollback the daily limit. The outome of every action will be shown at the top of the page, and relevantly coloured.</p>

<p>As the program currently has no backend storage, or database, the data is only stored in the current server session. Meaning that once the Heroku Dyno shuts down all data will return to nil.</p>
