<!-- this is the main layout page where all other layouts will be imported into -->
<!-- in a html/erb file ruby code can be written and rendered inside erb tags -->

<html>

  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
  </head>

  <body>

    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
        <a href='/'><h1>Greenwich School of Banking</h1></a>
        <div class="btn-group btn-group-justified" role="group">
          <a class='btn btn-default' href='/holders'>Holders</a>
          <a class='btn btn-default' href='/accounts'>Accounts</a>
          <a class='btn btn-default' href='/loans'>Loans</a>
        </div>
      </div>
    </nav>

    <% if @message %>
      <div class="alert alert-warning" role="alert">
        <%= @message.output %>
      </div>
    <% end %>

    <div class='container'>
      <!-- this area will change based on which route is selected -->
      <%= yield %>
    </div>

    <nav class='navbar navbar-default navbar-fixed-bottom'>
      <div class='container'>
        <a href='https://github.com/robertpulson/banking_application'>Check out the GitHub Repo.</a>
        <br>
        All Work by <a href='http://www.philbrockwell.com/'>Phil Brockwell</a>.
      </div>
    </nav>

  </body>

</html>
