<html>

  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
  </head>

  <body>

    <div class='container'>
      <a href='/'><h1>Greenwich School of Banking</h1></a>


      <% if @message %>
        <div class="alert alert-warning" role="alert">
          <%= @message.output %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>

</html>
