<html>

  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
  </head>

  <body>
    <div class='container'>
      <h1>Banking Application</h1>
      <%= yield %>
    </div>

  </body>

</html>
