<div class='row'>

  <% if @tasks.any? %>
    <ul class='col-md-8'>
      <% @tasks.each.with_index do |task, index| %>
        <li class='list-group-item'>
          <%= index + 1 %>. Scheduled for: <%= task.next_time %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <h3>No Tasks</h3>
  <% end %>

</div>
