<% unless @transactions.empty? %>

  <ul class="list-group">
    <% @transactions.each do |transaction| %>
      <li class="list-group-item">
        <%= transaction.date %>
        <%= transaction.type %>
        <%= transaction.amount %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h3>No Transactions</h3>
<% end %>