<% unless @transactions.empty? %>

  <ul class="list-group">
    <% @transactions.each do |transaction| %>
      <li class="list-group-item">
        Date: <%= transaction.date %>
        Type: <%= transaction.type %>
        Amount: <%= transaction.output_amount %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h3>No Transactions</h3>
<% end %>